<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= pageTitle %>
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/signup.css">

</head>

<body>
    <div class="container">
        <main class="signup-container">
            <p class="text-mute">START FOR FREE</p>
            <h1 class="heading-primary">Create new account<span class="custom-dot">.</span></h1>
            <p class="text-mute">Already A Member? <a href="/login">Log in</a></p>
            <form class="signup-form" action="/signup" method="post">
                <div class="f-row input-wrapper">
                    <label class="inp">
                        <input type="text" name="firstname"
                            class="input-text <%= validationErrors.find(e=> e.param==='firstname' ) ? 'invalid': '' %>"
                            placeholder="&nbsp;" value="<%= oldinput.firstname %>" required>
                        <span class="label">First name</span>
                        <span class="input-icon"><i class="fa-solid fa-address-card"></i></span>
                    </label>
                    <label class="inp">
                        <input type="text" name="lastname"
                            class="input-text <%= validationErrors.find(e=> e.param==='lastname' ) ? 'invalid': '' %>"
                            placeholder="&nbsp;" value="<%= oldinput.lastname %>" required>
                        <span class="label">Last name</span>
                        <span class="input-icon"><i class="fa-solid fa-address-card"></i></span>
                    </label>
                </div>
                <label class="inp">
                    <input type="email" name="email"
                        class="input-text <%= validationErrors.find(e=> e.param==='email' ) ? 'invalid': '' %>"
                        placeholder="&nbsp;" value="<%= oldinput.email %>" required>
                    <span class="label">Email</span>
                    <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
                </label>
                <label class="inp">
                    <input type="password" name="password"
                        class="input-text <%= validationErrors.find(e=> e.param==='password' ) ? 'invalid': '' %>"
                        placeholder="&nbsp;" value="<%= oldinput.password %>" id="password" required>
                    <span class="label">Password</span>
                    <span class="input-icon input-icon-password" data-password><i class="fa-solid fa-eye"></i></span>
                </label>
                <button type="submit" class="btn btn-signup">Create account</button>
                <% if(errorMessage&&errorMessage.length>0) { %>
                    <p class="user-message user-message-error">
                        <b><small>
                            <%= errorMessage %>
                        </small></b>
                    </p>
                    <% } %>
            </form>

        </main>
        <div class="welcome-container">
            <h1 class="heading-secondary">Welcome to <span class="lg">Planner Buddy!</span></h1>
            <img src="https://png2.cleanpng.com/sh/82506800d9e08bf14cb0a38d53322fea/L0KzQYm3VsI1N6Rug5H0aYP2gLBuTfxieKV0iJ9taYPzfLLCTfRmfppofZ92dXz3eb7shPliNZ1miOZ4cD3wf7TylgAuPZM3fqNsMEC4RIKAUsQvOmU5SaUBMkm0RYOCWME1OGI7S6Y9NT7zfri=/kisspng-laptop-display-device-multimedia-laptop-mockup-5b2f1c00541724.2441362915298140163445.png"
                alt="">
        </div>
    </div>
    <!-- partial -->
    <script src="../js/signup.js"></script>
    <script>
        console.log('<%=validationErrors%>');
    </script>

</body>

</html>