<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../css/uploads.css">
    </head>

    <body>

        <%- include('../includes/nav.ejs') %>

            <main>
                <div class="card-container">
                    <% uploads.forEach(upload=>{ %>
                        <div class="card">
                            <% if(upload.fileid.file.mimetype==='image/png'||upload.fileid.file.mimetype==='image/jpg'||upload.fileid.file.mimetype==='image/jpeg') {%> 
                                <img class="card-img-top"
                                     src="file/<%=upload.fileid.file.key%>"
                                     alt="Card image cap">
                            <% } else { %>
                                <h1 class="card-file-type">.<%= upload.fileid.file.mimetype.split('/')[1] %></h1>
                            <% } %>  
                            <div class="card-body">
                                <h5 class="card-title"><%= upload.fileid.file.originalname %></h5>
                                <div class="card-action-btns">
                                    <a onclick="copyFunc(this)" class="btn btn-primary">Copy link</a>
                                    <a href="file/<%=upload.fileid.file.key%>" class="btn btn-primary" id="download_link">Download</a>
                                </div>
                            </div>
                        </div>
                    <% }) %> 
                </div>
            </main>
            <script src="../js/upload.js"></script>
            <%- include('../includes/end.ejs') %>